# Turso configuration
TURSO_DATABASE_URL=YOUR_DATABASE_URL
TURSO_AUTH_TOKEN=YOUR_DATABASE_AUTH_TOKEN

# Authjs configuration
AUTH_SECRET=

AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=

AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

# Resend 
RESEND_API_KEY=